/.gitignore~
*.pydevproject
*.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

# OS Specifics
*~ #Linux temp files
*.DS_STORE #OSX Files

#IntelliJ
out/
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/
local.properties
.loadpath

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
*.cproject

# PDT-specific
*.buildpathv