name: build

on:
  workflow_dispatch:
  push:
    branches: [ '**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # set up jdk 1.17
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      # build jar with maven
      - run: mvn --batch-mode --update-snapshots verify

      - uses: actions/upload-artifact@v3
        with:
          name: ezAuctions.jar
          path: target/ezAuctions.jar
